@import "../../../../colors.scss";

.mainInputField {
  width: min-content;
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    align-self: flex-start;
    font-weight: 500;
    margin: 0px;
    user-select: none;
  }
  input {
    align-self: center;
    margin: 0px;
  }
  .message {
    color: red;
    font-weight: 500;
    font-size: 13px;
    width: 100%;
    word-wrap: none;
  }
  .quickSelect {
    margin-top: 2px;
    display: grid;
    grid-template-columns: repeat(6, auto);
    column-gap: 1px;
    row-gap: 1px;
    width: 100%;
    height: 50px;
    button {
      height: 25px;
      width: 27px;
      transition: font-weight 100ms ease, border 300ms ease;
      &:hover {
        color: $rootColor;
        border: 2px solid $rootColor;
        font-weight: 600;
      }
    }
  }
}
