@import "../../../colors.scss";

.mainBookDetailsInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: min-content;
    column-gap: 5px;
    margin-bottom: 2px;
    margin-right: 10px;

    .fields {
      flex: 5;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      height: min-content;
      column-gap: 5px;
      p {
        font-weight: 500;
        margin: 0px;
        user-select: none;
        width: 20px;
        text-align: right;
      }
    }
  }
}

@keyframes changeColor {
  0% {
    color: black;
  }
  100% {
    color: red;
  }
}
