@import "../../../colors.scss";

.mainBookDetailsInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: min-content;
    column-gap: 5px;
    margin-bottom: 2px;
    margin-right: 10px;
    .fields {
      flex: 5;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      height: min-content;
      column-gap: 5px;
    }
    .buttons {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 26px;
      column-gap: 3px;
      .icons {
        width: 20px;
        height: 20px;
        user-select: none;
        cursor: pointer;
        &:hover {
          animation: changeColor 100ms ease-in 1 forwards;
        }
      }
    }
  }
}

@keyframes changeColor {
  0% {
    color: black;
  }
  100% {
    color: red;
  }
}
