$rootColor: rgb(236, 36, 1);
$rootColorLight1: #ec2401;
$rootColorLight2: #ff26009a;
$rootColorLight3: rgb(233, 88, 63);
$rootColorLight4: rgb(255, 161, 145);

$rowHighlightColor: rgb(255, 246, 234);

$rootColorHover: rgb(250, 109, 84);
