::-webkit-scrollbar {
  display: none;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darkslateblue;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(168, 155, 255);
}

body {
  margin: 0px;
  overflow-x: hidden;
}

* {
  font-family: "Poppins", sans-serif;
}
