.mainSearchFilter {
  width: 95%;
  height: 95%;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgb(129, 129, 129);

  .titleText {
    font-weight: bolder;
    text-align: center;
  }
}
