@import "./../../colors.scss";

.mainHomePageDailyMessage {
  margin-top: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .welcomeBox {
    background-color: rgba(0, 0, 0, 0.568);
    height: 50px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    border-left: 2px solid $rootColor;
    border-top: 2px solid $rootColor;
    border-right: 2px solid $rootColor;

    p {
      margin: 0px;
      color: white;
      font-size: 24px;
      font-weight: bold;
    }
    .welcomeMessage2 {
      color: $rootColor;
    }
  }
  .messageBox {
    height: 100%;
    width: 80%;
    border-left: 2px solid $rootColor;
    border-bottom: 2px solid $rootColor;
    border-right: 2px solid $rootColor;
    background-color: rgba(0, 0, 0, 0.568);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0px;
    .message,
    .author {
      margin: 0px;
      color: white;
      font-size: 20px;
      text-align: center;
      padding: 5px 10px 5px 10px;
    }
    .author {
      text-decoration: underline;
    }
  }
}
