@import "../../../colors.scss";

.mainHomePageSearch {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
  .search {
    height: fit-content;
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 15px;

    background-color: white;
    border: 2px solid $rootColor;
    column-gap: 5px;
    .searchText {
      margin: 2px;
      height: 30px;
      width: 90%;
      border: none;
    }
    img {
      cursor: pointer;
      filter: invert(90%) sepia(19%) saturate(189%) hue-rotate(208deg) brightness(89%) contrast(92%);
      &:hover {
        fill: red;
        filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(152deg) brightness(106%) contrast(101%);
      }
    }
  }
}
