.mainButton2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100px;
  height: 34px;
  background-color: white;
  cursor: pointer;
  user-select: none;
  transition: background-color 300ms ease;
  &:hover {
    background-color: rgb(84, 13, 177);
  }
  .buttonText {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    background-color: rgb(245, 245, 245);
  }
}
