@import "../../../colors.scss";

.mainCollapsableMenu {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 2px solid $rootColor;
  background-color: white;
  box-sizing: border-box;

  .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    background-color: white;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid$rootColor;

    p {
      font-size: 1rem;
      font-weight: bold;
      color: black;
      margin: 0px;
      padding-left: 5px;
      cursor: pointer;
      user-select: none;
    }
    img {
      width: 1rem;
      height: 1rem;
      background-color: transparent;
      padding-right: 5px;
      margin-right: 5px;
      cursor: pointer;
      user-select: none;
      transition: rotate 300ms ease;
      transform-origin: 40% 50%;

      &.close {
        rotate: 0deg;
      }
      &.open {
        rotate: 90deg;
      }
    }
  }
  .menuItems {
    width: 100%;
    height: 100px;
    transition: height 300ms;
    overflow: hidden;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: left;
    p {
      font-size: 0.8rem;
      margin: 10px;
      font-weight: 500;
      color: black;
      padding-left: 5px;
      cursor: pointer;
      user-select: none;
      transition: font-size 100ms ease;
      &:hover {
        color: $rootColor;
        font-weight: bolder;
        font-size: 0.9rem;
      }
      &.selected {
        color: $rootColor;
        font-weight: bolder;
      }
    }

    &.close {
      height: 0px;
    }
  }
}
