@import "../../../colors.scss";

.mainSearchBarItem {
  height: 25px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  user-select: none;
  cursor: pointer;
  margin-left: 13px;

  .boldName {
    font-size: 14px;
    font-weight: 500;
    color: $rootColor;
  }
  .normalName {
    font-size: 14px;
    color: black;
  }

  &:hover {
    background-color: rgba(211, 211, 211, 0.342);
    border-radius: 5px;
  }
}
