@import "../../../colors.scss";
.mainUserFilter {
  width: 98%;
  height: 70px;
  background-color: white;
  border: 1px solid darkgrey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 2px;
  .left {
    flex: 10;
    height: 70px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 2px;
    #titleText {
      font-size: 1rem;
      font-weight: 600;
      margin-left: 5px;
      margin-top: auto;
      margin-bottom: auto;
      color: $rootColor;
    }
    #searchButton {
      justify-self: flex-end;
    }
  }
  .right {
    flex: 1;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
