@import "../../../colors.scss";

.mainSearchResults {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .top {
    flex: 1.5;
    width: 100%;
    border-bottom: 4px solid $rootColor;
  }
  .bottom {
    flex: 10;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-content: center;
    background-color: rgba(211, 211, 211, 0.363);
    .left,
    .right {
      flex: 2;
      height: 100%;
      background-color: transparent;
    }
    .left {
      background-color: $rootColor;
    }
    .right {
      background-color: white;
      border-left: 2px solid black;
    }
    .middle {
      flex: 8;
      height: 100%;
      background-color: transparent;
    }
  }
}
