@import "./../../colors.scss";

.mainDashboardInterface {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-items: center;
  // border-top: 2px solid white;
  .interfaceLeft {
    flex: 2;
    height: 100%;
    background-color: $rootColorLight1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
  }
  .interfaceRight {
    flex: 10;
    height: 100%;
    background-color: bisque;

    .panel {
      height: min-content;
      width: 100%;
      margin: 10px;
      background-color: bisque;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 5px;

      .panelTitle {
        font-size: 28px;
        font-weight: bold;
        color: black;
        margin: 0px;
      }
      .form {
        width: 30%;
        height: min-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px solid $rootColor;
        padding: 10px;
        background-color: white;

        .fields {
          width: 100%;
          height: min-content;
          .field {
            width: 100%;
            height: min-content;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .fieldName {
              flex: 2;
              height: min-content;
              p {
                color: black;
                font-weight: 500;
                font-size: 1rem;
              }
            }
            .fieldBox {
              flex: 4;
              height: min-content;

              .inputBox {
                width: 100%;
                box-sizing: border-box;
                resize: vertical;
              }
              textarea {
                min-height: 50px;
              }
            }
          }
        }
      }
    }
  }
}
