.mainNavButton {
  width: 80px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  p {
    height: 28px;
    position: absolute;
    margin: 0px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 16px;
    transition: color 100ms ease-in;
    user-select: none;

    &:hover {
      color: rgba(236, 63, 1, 0.87);
    }
    &:active {
      color: black;
    }
  }
}
