body {
  margin: 0;
  display: flex;
  place-items: center;
}

* {
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(63, 9, 134);
  border-radius: 5px;
  height: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(165, 96, 255);
}
