@import "../../../colors.scss";

.mainButton {
  background-color: $rootColor;
  border: 2px solid black;
  box-shadow: 0px 0px 2px 2px lightgrey;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  width: min-content;
  transition: box-shadow 100ms ease-in;
  &:hover {
    box-shadow: 0px 0px 5px 5px lightgrey;
  }
  &:focus {
    background-color: $rootColorHover;
  }

  p {
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: white;
    user-select: none;
    word-wrap: none;
    cursor: pointer;
    &:active {
      color: black;
    }
  }
}
